body, html {
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #777;
    font-weight: 400;
    width: 100% !important;
    height: 100% !important;
}
/*nav section*/
.navbar{
    background-color: #fff;
    border-color: rgba(231, 231, 231, 0);
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    height: 50px;
   
}
.container{
    width: 100%;
    max-width: 1100px;
    margin:auto;
}
.menu-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.ulist{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
li{
    display: inline-block;
    margin: 0 10px;
}

.brand{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
}
li>a{
    text-transform: uppercase;
    text-decoration: none;
    color: #555;
    position: relative;
}
li>a:hover:after{
    width: 100%;
}
li>a::after{
    width: 0;
    transition: width 0.2s;
    transition-property: width;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    content: "";
    position:absolute;
    bottom: -10px;
    left: 0;
    height: 2px;
    background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
}
#menu{
    padding: 15px;
}

/*header section*/

.header h1{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 82px;
    font-weight: 700;
    text-transform: uppercase;
}
.header p{
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
  
 
}
.header{
    background: url(intro-bg.jpg) center center no-repeat;
    background-color: #e5e5e5;
    background-size: cover;
    height: 750px;
    
    
}
.overlay{
    background: rgba(0,0,0,0.2);
    height: 750px;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 200px;
   
}

.btn{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: #5ca9fb;
    background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
    padding: 14px 34px;
    letter-spacing: 1px;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    border-radius: 25px;
    border: 0;
    text-decoration: none;
}
.btn:hover {
    color: #fff;
    background-image: none;
    background-color: #6372ff;
}

/*features*/
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.column h2 {
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    color: #333;
}
.column h2::after{
    position: absolute;
    content: "";
    background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
    height: 4px;
    width: 60px;
    bottom: -15px;
    margin-left: -30px;
    left: 50%;
}
.row{
    display: flex;
    flex-direction: row;
    text-align: center;
    
}
.features i{
    font-size: 38px;
    margin-bottom: 20px;
    margin-top: 50px;
    color: #fff;
    padding: 30px;
    border-radius: 50%;
    background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
    box-shadow: 10px 10px 10px rgb(0 0 0 / 5%);
    text-align: center;
    display: inline-block;
}
.features{
    padding: 100px 0;
    background: #f6f6f6;
}
.row h3{
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
/* about*/
#about{
    padding: 100px 0;
}
#about p{
    line-height: 24px;
    margin: 30px 0;
}

.about-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.about-row .sections{
    display: inline-block;
    margin: 0 20px;
}
#about .list li{
    margin-bottom: 6px;
    margin-left: 6px;
    list-style: none;
    padding: 0;
    color: #777;
    
}
#about .list li::before{
    content: '\f00c';
    font-family: 'FontAwesome';
    color: #5ca9fb;
    font-size: 11px;
    font-weight: 300;
    padding-right: 8px;
}
#about h3{
    font-weight: 22px;
    font-weight: 600;
    color: #333;
}
.about-row h2{
   
        position: relative;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 36px;
        color: #333;
}
.about-row h2::after{
    position: absolute;
    content: "";
    background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
    height: 4px;
    width: 60px;
    bottom: -15px;
    left: 0;
}
#about img{
    width: 520px;
    margin-top: 10px;
    background: #fff;
    border-right: 0;
    box-shadow: 0 0 50px rgb(0 0 0 / 6%);
    
}
.about-row .lists{
    display: flex;
    flex-direction: row;
    justify-content: start;
  
}
.about-row .lists .list{
    display: block;
    margin: 0;

}

/*our services*/

.service-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-row {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 70px;
    
}
.service-row div{
    padding: 20px;
    flex: 1 1 0px
}
#ourservices{
    padding: 100px 0;
    background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
    color: #fff;
}
#ourservices i.fa{
    font-size: 42px;
    padding: 40px;
    text-align: center;
    background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
    border-radius: 50%;
    color: #fff;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 5%);
}
#ourservices .fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
  
}
.service-column h2{
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 40px;
}
.service-column h2::after {
    position: absolute;
    content: "";
    background: rgba(255,255,255,.3);
    height: 4px;
    width: 60px;
    bottom: 0;
    margin-left: -30px;
    left: 50%;
}
.service-column p{
    color: rgba(255,255,255,.75);
    font-size: 18px;
}
.service-row p {
    font-size: 15px;
}
/*gallery*/

.gallery .title h2{
    position: relative;
    text-transform: uppercase;
    text-align: center;
}
.gallery .title h2::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
    height: 4px;
    width: 60px;
    bottom: -15px;  
    left: 50%;
}
.gallery .title p{
    font-size: 18px;
}
.gallery .title {
    margin-bottom: 70px;
}
.gallery .column{
    display: flex;
    flex-direction: column;
    

}
.gallery .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.gallery .row img{
    width: 360px;
    margin: 0 2px;
}
.gallery .row .hover-text{
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    background: linear-gradient(to right, rgba(99,114,255,0.8) 0%, rgba(92,169,251,0.8) 100%);
    padding: 30% 0 0 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
}
.gallery .row .hover-bg {
    overflow: hidden;
    position: relative;
    margin: 0;
}

/*what our client say*/
.client{
    margin-top: 70px;
    padding: 100px 0;
    background: #f6f6f6;
}
.client h2{
    position: relative;
    text-transform: uppercase;
    text-align: center;
    color: #333;
    font-size: 36px;
}
.client h2::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
    height: 4px;
    width: 60px;
    bottom: -15px;  
    left: 50%;

}

.client .title{
    margin-bottom: 80px;
}
.client .parent {
    display: flex;
    flex-wrap: wrap;
    
}
.client .parent .card {
    display: flex;
    flex: 1 1 300px;
    padding: 20px;
      
}
.client .parent .card .client-img img{
    border-radius: 50%;
}
.client .parent .card .client-img {
    border-radius: 50%;
    margin-right: 15px;
}
.client .parent .card .client_name{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #777;
}
.client-content p{
    margin: 0;
    font-size: 14px;
    font-style: italic;
    color: #999;
}
